{% for block in section.blocks %}
    {% case block.type %}
        {% when 'article_title' %}
            <h1>{{ article.title }}</h1>
        {% when 'article_author' %}
            {% if section.settings.enable_author %}

                <small>{{ article.author }}</small>

            {% endif %}
        {% when 'article_published_date' %}
            {% if section.settings.enable_date %}
    
                <time datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at |  date: '%Y-%m-%d' }}</time>
            
            {% endif %}
        {% when 'article_image' %}
            <img src="{{ article.image.src }}" alt="{{ article.image.alt }}">
        {% when 'article_content' %}
            <div>
                {{ article.content }}
            </div>
        {% else %}            
    {% endcase %}
{% endfor %}


{% schema %}
{
    "name": "Template article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "label": "Show author name",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_date",
            "label": "Show published date",
            "default": true
        }
    ],
    "blocks": [
        {
            "name": "Title",
            "type": "article_title",
            "limit": 1
        },
        {
            "name": "Author Name",
            "type": "article_author",
            "limit": 1
        },
        {
            "name": "Published Date",
            "type": "article_published_date",
            "limit": 1
        },
        {
            "name": "Thumbnail",
            "type": "article_image",
            "limit": 1
        },
        {
            "name": "Content",
            "type": "article_content",
            "limit": 1
        }
    ]
}
{% endschema %}